html,body {
    background-image: url("https://scontent.ftpe7-1.fna.fbcdn.net/v/t1.0-9/83716944_2999843686706337_6927290101030453248_o.jpg?_nc_cat=106&_nc_ohc=ESx-Mbo6HMIAX_JZ5EW&_nc_ht=scontent.ftpe7-1.fna&oh=a7cc0ac4244334e3d26bcebfff8dbb1c&oe=5E8FBBF9");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: 'Fredericka the Great', '微軟正黑體';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.container {
    margin-top: 15px;
    padding: 0;
    width: 650px;
}

.middle {
    padding: 0;
    width: 650px;
    border-radius: 10px;
}

.box {
    display: flex;
    width: 600px;
}

.title {
    text-align: center;
    color: #445E93;
}

img {
    width: 325px;
    height: 243.75px;
}

.image {
    padding: 35px;
    display: flex;
    justify-content: space-around;
    height: 130px;
}

.image img {
    position: absolute;
    width: 70px;
    height: 70px;
    transition-duration: 0.5s;
}

.image img:hover {
    cursor: pointer;
    width: 85px;
    height: 85px;
    opacity: .5
}

#play {
    margin: auto;
}